@font-face{
    font-family: 'happy';
    src: url(../fuentes/Zeniq.ttf);
}

#full{
    font-family: 'happy';
    font-size: 16px;
}
#hip{
    font-family: 'happy';
    font-size: 80px;
    text-align: center;
    color: white;
}
#sub{
    font-family: 'happy';
    font-size: 64px;
    text-align: center;
    color: white;
}
#con{
    font-family: 'happy';
    font-size: 48px;
    text-align: center;
    color: white;
}
#intro{
    font-family: 'happy';
    font-size: 24px;
    color: white;
}
#val{
    font-family: 'happy';
    font-size: 24px;
    color: white;
}
#tipes{
    font-family: 'happy';
    font-size: 48px;
    text-align: center;
    color: white;
}
#loled{
    text-align: center;
}