*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../imagenes/CONSULTA.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
nav{
    color: rgb(194, 194, 194);
    line-height: 15px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background-color: rgb(151, 151, 151);
}
.Principales > li{
    float: left;
}

.BN-D{
    margin-left: auto;
}

.link{
    padding: 20px;
    color: var(--text-color);
    display: block;
}

.sub-link{
    display: none;
    position: absolute;
    background-color: rgb(151, 151, 151);
}

.subL{
    padding: 15px;
    color: var(--text-color);
    background-color: var(--container-color);
    width: 130px;
    text-align: center;
}

.subL:hover{
    cursor: pointer;
    background-color: var(--hoover-color);
    color: white;
    animation: shadow-pulse 1200ms 1;
}

.link:hover{
    cursor: pointer;
    background-color: var(--hoover-color);
    color: white;
    animation: shadow-pulse 1200ms 1;
}

.link:hover ~ .sub-link{
    display: block;
    cursor: pointer;
}

.sub-link:hover{
    display: block;
    cursor: pointer;
}
#hip{
    margin-top: 10px;
}
.contenedor{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    background: rgba(86, 121, 145, 0.548);
    margin-top: 20px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.contenido-slider:hover{
    animation: shadow-pulse 1200ms 1;
}

.contenido-slider:nth-child(2){
    background: rgba(86, 121, 145, 0.548);
    color: #fff;
    border-radius: 50px;
}

.contenido-slider:nth-child(3){
    background: rgba(86, 121, 145, 0.548);
    color: #fff;
    border-radius: 50px;
}

.contenido-slider > img{
    width: 400px;
}

.contenido-slider > div{
    width: 40%;
}

.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863;
    
}
.informacion{
    border-radius: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    text-align: center;
    background: rgba(119, 119, 119, 0.685);
    color:  rgb(255, 255, 255);
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.informacion img{
    width: 1000px;
    border-radius: 10px;
    opacity: 70%;
    border: 3px solid rgb(77, 77, 77);
}
.informacion div{
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.ti{
    border-radius: 20px;
    background: rgba(119, 119, 119, 0.685);
    padding: 25px;
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ti p{
    color: white;
}
.ti h2{
    text-align: center;
}
.ti ul li{
    color: #fff;
    margin-top: 10px;
}
.inf{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    text-align: center;
    background: rgba(119, 119, 119, 0.685);
    color:  rgb(255, 255, 255);
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inf:hover{
    transform: scale(1.3);
    animation: rotate 1000ms 1;
}
.prod{
    height: 40vh;
    width: 40vw;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    text-align: center;
    background: rgba(119, 119, 119, 0.685);
    color:  rgb(255, 255, 255);
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.subL a{
    color: var(--text-color);
}
.sub-link{
    display: none;
    position: absolute;
}

.subL{
    padding: 15px;
    color: var(--text-color);
    background-color: var(--container-color);
    width: 112px;
}
.subL:hover{
    cursor: pointer;
    background-color: var(--hoover-color);
    color: white;
    animation: shadow-pulse 1200ms 1;
}

.sub-link:hover{
    display: block;
    cursor: pointer;
}
.prod img{
    width: 300px;
    height: 150px;
    padding: 10px;
    border-radius: 30px;
}
.prod p{
    padding: 10px;
}
.prod:hover{
    transform: scale(1.15);
    animation: rotate 1000ms 1;
}
.multi{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#val{
    text-align: center;
}
footer{
    margin-top: 50px;
    padding: 10px;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(138, 138, 138));
}
form {
    font-family: 'Lobster', cursive;
    background: rgba(75, 124, 170, 0.4);
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
input, textarea{
    font-family: 'Lobster', cursive;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
}
input:hover{
    transform: translateY(-3px);
    animation: shadow-pulse 1000ms 1;
}
textarea:hover{
    font-family: 'Lobster', cursive;
    transform: translateY(-3px);
    animation: shadow-pulse 1000ms 1;
}
textarea{
    min-height: 100px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}
.formulario{
    margin-top: 10px;
}
.redes-sociales{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.redes-sociales ul li{
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    width: 50px;
    height: 50px;
}
#facebook{
    border-radius: 10%;
    color: white;
}
#facebook:hover{
    cursor: pointer;
    color: rgb(75, 134, 211);
    transform: translateY(-6px);
    animation: shadow-pulsef 1000ms 1;
}
#instagram{
    border-radius: 10%;
    color: white
}
#instagram:hover{
    cursor: pointer;
    color: rgb(171, 107, 223);
    transform: translateY(-6px);
    animation: rotate 1000ms 1;
}
#correo{
    border-radius: 10%;
    color: white;
}
#correo:hover{
    cursor: pointer;
    color: rgb(221, 113, 113);
    transform: translateY(-6px);
    animation: shadow-pulsec 1000ms 1;
}
#twitter{
    border-radius: 10%;
    color:white
}
#twitter:hover{
    cursor: pointer;
    color: rgb(71, 181, 255);
    transform: translateY(-6px);
    animation: shadow-pulset 1000ms 1;
}
.nombres{
    color: white;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
}
.nombres1{
    margin-top: 5px;
    text-align: center;
    justify-content: center;
}
@keyframes shadow-pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(74, 176, 235, 0.6);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pl {
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(203, 185, 245, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulsef {
    0%{
        box-shadow: 0 0 0 0 rgba(71, 165, 219, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulsec {
    0%{
        box-shadow: 0 0 0 0 rgba(219, 71, 71, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes shadow-pulset {
    0%{
        box-shadow: 0 0 0 0 rgba(71, 181, 255, 0.9);
    }
    100%{
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);
    }
}
@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
        box-shadow: 0 0 0 0 rgba(171, 107, 223, 0.9);  
    }
    100%{
        filter: hue-rotate(360deg);
        box-shadow: 0 0 16px 24px rgba(57, 132, 182, 0);

    }
}
@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(3.0);
    }
}
@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}